* {
    font-family: Arial, 'sans-serif';
    line-height: 1.5;
    margin: 0;
    box-sizing: border-box;
    text-align: center;

}
.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 20px;
}
.nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    padding: 0;
}
.nav ul li a {

    text-decoration: none;
    color: blue;
    padding: 10px 15px;
    display: block;
    font-weight: 500;
    font-size: 20px;
}
.nav ul li a:hover {
    color: pink;
}
.logo-img  img {
    width: 100px;
    align-items: left;
    
}
header {
    background: rgba(0, 255, 221, 0.637);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.intro {
    background: url(../images/lemon.jpeg);
    display: flex;
    height: 60vh;
    align-items: center;
    text-align: center;
    color: white;
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.3);
}
.intro-content  p {
    font-size: 20px;
    margin-bottom: 30px;
}


.cta-button {
    display: inline-block;
    background-color:rgba(0, 140, 255, 0.11);
    text-decoration: none;
    padding:15px 30px  ;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}
.cta-button:hover {
    background-color: pink;
}
.features {
    padding: 60px 20px;
    text-align: center;
}
.features h2 {
    color: #cd5c5c;
    font-size: 40px;
    margin-bottom: 40px;

}

.features p {
    margin-bottom: 30px;
    font-size: 20px;
}
.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 0 auto;
    max-width: 1200px;
    align-items: flex-start;
}
.product-card {
    background-color:beige;
    flex-direction: column;
    display: flex;
    max-width: 300px;
    width: 22%;
    text-align: center;
}
.product-card img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
}
.product-card h4 {
    margin: 0;
    font-size: 25px;
}
.custom-orders {
    background-color: #fffaf0;
    padding: 80px 20px;
    text-align: center;
}
.custom-orders h3 {
    font-size: 30px;
}
.custom-orders p {
    padding-bottom: 20px;
}
.goal {
    padding: 80px 20px;
    text-align: center;
    background-color: beige;
}
.goal h2 {
    padding-bottom: 10px;
    font-size: 30px;
}
footer {
    background-color:rgba(0, 255, 221, 0.637);
    color: black;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    border-top: 3px solid gray;
    font-weight: bold;
}
footer .socials {
    margin-top: 10px;
}
footer .socials a {
color: blue; 
margin: 0;
text-decoration: none;
}
footer.socials a:hover {
    color: palevioletred;
    text-decoration: underline;
}
footer p a  {
    margin: 10px 0;
    line-height: 1.6;
    text-decoration: none;
    color: blue;

}
footer p a:hover  {
    text-decoration: underline;
    color:  palevioletred;
}
footer p {
    padding: 10px;
}

.about {
    margin: 50px auto;
    padding: 40px;
    background-color:beige;
    border-radius: 12px;
    max-width: 800px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
.about h1 {
    margin-bottom: 30px;
    text-align: center;
    padding: 0 10px;
    color: #cd5c5c;
}
.about p {
    font-weight: 500;
    text-align: center;

}
.mission-vision-container {
    justify-content: center;
    gap: 30px;
    display: flex;
    max-width: 1200px;
}
.mission,.vision {
    max-width: 800px;
    padding: 30px;
    margin: 40px auto;
    border-radius: 10px;
    background-color:mintcream;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    flex: 1;

}
.vision {
    background-color: lavender;
}
.mission h2,.vision h2 {
    margin-top: 0;
    padding-bottom: 5px;
    font-size: 25px;
    color: #cd5c5c;

}
.objectives ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.objectives ul li {
    padding: 10px 0;
    text-align: center;

}
.objectives  {
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    background-color: lemonchiffon;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

}
.objectives h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #cd5c5c;

}
.contact {
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    background-color: beige;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
 .contact h2 {
    text-align: center;
    font-size: 30px;
    color: #cd5c5c;
    margin-bottom: 5px;
 }
 .contact p {
    text-align: center;
    margin-bottom: 30px;
 }
 .contact form  p {
    font-size: 18px;
    color: #cd5c5c;
    padding: 20px;
   

 }
 form {
    display: flex;
    flex-direction: column;
    
 }
 label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 18px;
 }
 input {
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
 }
 textarea {
    min-height: 120px;
    margin-bottom: 20px;
    resize: vertical;
 }
 .contact p {
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: left;
    font-size: 25pxpx;
 }
 .radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 20px;
 }
 button[type="submit"] {
    background-color:black;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: bold;

}
button[type="submit"]:hover {
    background-color: palevioletred;
}
.product {
    padding: 60px 20px;
    text-align:center ;
    background-color: #f8f0e5;
}
.product h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color:chocolate;
}
.product p {
    color: #555;
    font-size: 17px;
    margin-bottom: 40px;
}
.cake-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}
.cake-card {
    background-color: whitesmoke;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    flex-direction: column;
}
.cake-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.cake-card h3 {
    color: darkgoldenrod;
    padding: 15px 15px 5px;
    font-size: 25px;
    margin: 0;
}
.cake-card p {
    padding: 0 15px;
    margin: 5px 0 10px;
    font-size: 17px;

}
.cake-card .btn {
    display: block;
    background-color: #e9967a;
    color: white;
    text-decoration: none;
    padding: 12px;
    font-weight: bold;
    margin-top: auto;
}
.cake-card .btn:hover {
    background-color: darkgray;
}
@media (max-width:900px) {
    
    .mission-vision-container {
        flex-direction: column;
        padding: 0 20px;
    }
    .mission,.vision {
        margin: 20px auto;
        max-width: 100%;
    }
    
    .intro {
        height: 70vh;
        
    }
    .radio-group {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .contact label {
        font-size: 16px;
        margin-top: 5px;

    }
    .product-card  {
        width: 100%;
        margin-bottom: 20px;

    }


}
    